[connection]
id={{ item.vpn_name }}
type=vpn
autoconnect=false
permissions=

[vpn]
service-type=org.freedesktop.NetworkManager.openvpn
connection-type=password
password-flags=2
tunnel-mtu=1360
cipher={{ item.cipher }}
data-ciphers={{ item.data_ciphers }}
proto-tcp=yes
remote={{ item.gateway }}
verify-x509-name = name:{{ item.gateway }}
reneg-seconds=0
port=443
ca=/etc/pki/tls/certs/{{ item.certificate }}
username={{ item.username }}

[ipv4]
dns-search=
method=auto
never-default=true

[ipv6]
addr-gen-mode=eui64
dns-search=
method=auto
never-default=true

[proxy]
