---
  
- name: install vpn rpm packages
  dnf:
    name: "{{ vpn_rpms }}"
    state: present
  become: yes

- name: red hat vpn configuration
  template:
    src: redhat.vpn.j2
    dest: "{{ vpn_redhat_path }}/{{ item.vpn_name }}.nmconnection" 
    owner: root
    group: root
    mode:  0600
    setype: NetworkManager_etc_rw_t
  become: yes
  loop: "{{ vpns }}"

- name: copy ca certificate
  copy:
    src: "{{ item.certificate }}"
    dest: "/etc/pki/tls/certs/{{ item.certificate }}"
    owner: root
    group: root
    mode: 0644
    setype: cert_t
  become: yes
  loop: "{{ vpns }}"

- name: restart networkmanager service
  systemd:
    name: NetworkManager
    state: restarted
    daemon_reload: yes
  become: yes
