---

- name: install openssl rpm packages
  dnf:
    name: "{{ openssl_rpms }}"
    state: present
  become: yes
  when: ansible_os_family == 'RedHat'

- name: create ca directories
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
    setype: 'cert_t'
  when: ansible_os_family == 'RedHat'
  with_items:
    - "~/.stuff/pki/"
    - "~/.stuff/pki/tls"
    - "~/.stuff/pki/MELMACCA/certs"
    - "~/.stuff/pki/MELMACCA/crl"
    - "~/.stuff/pki/MELMACCA/newcerts"
    - "~/.stuff/pki/MELMACCA/private"

- name: restrict perms for private key directory
  file:
    path: "{{ item }}"
    state: directory
    mode: '0700'
    setype: 'cert_t'
  when: ansible_os_family == 'RedHat'
  with_items:
    - "~/.stuff/pki/MELMACCA/private"

- name: copy openssl ca configuration file
  template:
    src: melmacca.conf.j2
    dest: ~/.stuff/pki/tls/melmacca.conf
    mode: 0644
    setype: cert_t
  when: ansible_os_family == 'RedHat'    

- name: copy ca configuration files
  copy:
    src: "{{ item }}"
    dest: ~/.stuff/pki/MELMACCA
    mode: 0644
    setype: cert_t
  with_items:
    - index.txt
    - serial
  when: ansible_os_family == 'RedHat'     

- name: create ca key and self-signed certificate
  command: '/usr/bin/openssl req -x509 -sha256 -nodes -newkey rsa:4096 -keyout ~/.stuff/pki/MELMACCA/private/cakey.pem -out ~/.stuff/pki/MELMACCA/cacert.pem -subj "/C=SP/ST=Spain/L=Salamanca/O=MELMAC/CN=Melmac CA" -extensions v3_ca'

# csr
#/usr/bin/openssl req -new -newkey rsa:4096 -nodes -keyout server.key -out server.csr -config ~/.stuff/pki/tls/melmacca.conf -reqexts v3_req -subj "/C=SP/ST=Spain/L=Salamanca/O=MELMAC/CN=test.melmac.univ"

# self-signed ca cert
#/usr/bin/openssl req -x509 -sha256 -nodes -newkey rsa:4096 -keyout ~/.stuff/pki/cakey.pem -out ~/.stuff/pki/MELMACCA/cacert.pem -subj "/C=SP/ST=Spain/L=Salamanca/O=MELMAC/CN=Melmac CA" -extensions v3_ca

#/usr/bin/openssl ca -config ~/.stuff/pki/tls/melmacca.conf -in server.csr -out server.crt