---

- name: create local bin directory
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
    setype: 'user_home_t'
  with_items:
    - ~/.stuff/bin

- name: copy ca scripts
  copy:
    src: "{{ item }}"
    dest: "~/.stuff/bin/{{ item }}"
    mode: 0755
    setype: user_home_t
  with_items:
    - 'cacreatecsr'
    - 'caselfsigned'
    - 'casigncsr'

- name: add local bin to PATH
  lineinfile:
    path: ~/.bashrc
    line: "{{ item }}"
    state: present
  with_items:
    - 'export PATH="$HOME/.stuff/bin:$PATH"'